<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho | Market Games</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <%- include("navbar.ejs") %>
    </div>

    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Produto</th>
                <th>Vendedor</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="/img/product_images/<%= product.caminho_imagem%>">
                        <div>
                            <p><%= product.nome%></p>
                            <small>Preço: R$<%= product.preco%></small>
                            <br>
                            <a href="">Remover</a>
                        </div>
                    </div>
                </td>
                <td>Admin</td>
                <td>R$<%= product.preco%></td>
            </tr>
            
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>R$<%= product.preco%></td>
                </tr>
            </table>
                <a href="/index" class="btn" onclick="Finalizar()">Finalizar compra </a>
        </div>
    </div>

    <!-- Footer -->
    <%- include("footer.ejs") %>

    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }

        function Finalizar() {
            if (window.confirm("Deseja finalizar a compra?")){
                alert("Compra finalizada com sucesso!");
                return true;
            }else{
                alert("Compra cancelada!");
                return false;
            }
        }
    </script>

</body>

</html>