<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products | RedStore</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include("navbar.ejs") %>

        <!-- Single Products -->
        <div class="small-container single-product">
            <div class="row">
                <div class="col-2">
                    <img src="/img/product_images/<%= product.caminho_imagem%>" width="100%" id="ProductImg">

                    <div class="small-img-row">
                        <div class="small-img-col">
                            <img src="/img/product_images/<%= product.caminho_imagem%>" width="100%" class="small-img">
                        </div>
                        <div class="small-img-col">
                            <img src="/img/product_images/<%= product.caminho_imagem%>" width="100%" class="small-img">
                        </div>
                        
                    </div>

                </div>
                <div class="col-2">
                    <p>Home / Xbox Series X</p>
                    <h1><%= product.nome%></h1>
                    <h4>R$<%= product.preco%></h4>

                    <a href="" class="btn">Adicionar ao Carrinho</a>

                    <h3>Detalhes <i class="fa fa-indent"></i></h3>
                    <br>
                    <p><%= product.descricao%></p>
                </div>
            </div>
        </div>
        <!-- title -->
        <div class="small-container">
            <div class="row row-2">
                <h2>Related Products</h2>
                <p>View More</p>
            </div>
        </div>
        <!-- Products -->
        <div class="small-container">
            <div class="row">
                <div class="col-4">
                    <img src="/img/product-9.jpg">
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="/img/product-10.jpg">
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="/img/product-11.jpg">
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="/img/product-12.jpg">
                    <h4>Red Printed T-Shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include("footer.ejs") %>

            <!-- javascript -->

            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";
                function menutoggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    }
                    else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>

            <!-- product gallery -->
            <script>
                var ProductImg = document.getElementById("ProductImg");
                var SmallImg = document.getElementsByClassName("small-img");

                SmallImg[0].onclick = function () {
                    ProductImg.src = SmallImg[0].src;
                }
                SmallImg[1].onclick = function () {
                    ProductImg.src = SmallImg[1].src;
                }
                SmallImg[2].onclick = function () {
                    ProductImg.src = SmallImg[2].src;
                }
                SmallImg[3].onclick = function () {
                    ProductImg.src = SmallImg[3].src;
                }

            </script>
</body>

</html>